<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:security="http://www.springframework.org/schema/security"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/security 
   http://www.springframework.org/schema/security/spring-security-3.2.xsd">
  
 <!-- This is where we configure Spring-Security  -->
 <security:http auto-config="true" use-expressions="true" access-denied-page="/denied" >
  
  <!-- <security:intercept-url pattern="/login" access="permitAll"/> -->
  <security:intercept-url pattern="/operations" access="isAuthenticated() and hasAnyRole('ROLE_ADMIN')" />
  <security:intercept-url pattern="/party*" access="isAuthenticated() and hasAnyRole('ROLE_ADMIN')" />
  <security:intercept-url pattern="/common" access="permitAll"/>
  <security:intercept-url pattern="/welcome" access="permitAll"/>
  <!-- <security:intercept-url pattern="/**" access="hasRole('IS_AUTHENTICATED_FULLY,ROLE_USER')" /> -->
   <!-- <security:intercept-url pattern="/*" access="hasRole('ROLE_USER,ROLE_ANONYMOUSLY')"/> -->
  
  <security:form-login
    login-page="/login"
    authentication-failure-url="/login?error=true"
    default-target-url="/welcome"/>
    
  <security:logout
    invalidate-session="true"
    logout-success-url="/welcome"
    logout-url="/logout"/>
  
 </security:http>
  
 <!-- Declare an authentication-manager to use a custom userDetailsService -->
 <security:authentication-manager>
         <security:authentication-provider user-service-ref="customUserDetailsService" >
           <security:password-encoder ref="passwordEncoder"/>
         </security:authentication-provider>
 </security:authentication-manager>
  
 <!-- Use a Md5 encoder since the user's passwords are stored as Md5 in the database -->
 <bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>
 
 <!-- <bean id="encoder1" class="com.interiors.app.security.encoder.BCryptPasswordEncoder"/> -->
 
 <!-- A custom service where Spring will retrieve users and their corresponding access levels  -->
 <bean id="customUserDetailsService" class="com.interiors.app.security.service.CustomUserDetailsService">
 	<property name="userDao" ref="userDao"></property>
 </bean>
  
  	<bean id="userDao" class="com.interiors.app.security.dao.UserDao" parent="baseDao">
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">

		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>

		<property name="url">
			<value>${databaseURL}</value>
		</property>

		<property name="username">
			<value>${databaseUserName}</value>
		</property>

		<property name="password">
			<value>${databasePassword}</value>
		</property>

	</bean>
	
	<bean id="baseDao" abstract="true">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="partyManager" class="com.interiors.app.manager.impl.PartyManagerImpl" parent="baseDao">
	</bean>
  
</beans>